AuthUserFile /home/network/tp/public_html/MAS115_0607/protected/.htpasswd
#AuthGroupFile /dev/null
AuthName "Password Protected Area"
AuthType Basic
Require valid-user
<Limit GET>
require valid-user
</LIMIT>


